<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<title>Dragon Kindred</title>

		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Dragon Kindred">
		<meta name="author" content="John Grant Bunner">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

	</head>
	<body>
		<!-- Add JQuery and Bootstrap -->
		<script src="/assets/js/jquery-3.0.0.min.js"></script>
		{{{ body }}}
	</body>
</HTML>

