<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<!-- Page Content -->
<div class="wrapper">
    <!--header-->
    <header id="header">

        <div class="menu">
            <nav class="navbar navbar-wrapper">
                <div class="container">
                    <div id="main-nav" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/home" class="link"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
							<li><a href="/characters" class="link"><i class="fa fa-home" aria-hidden="true"></i>Characters</a></li>
							<li><a href="/charity" class="link"><i class="fa fa-plus" aria-hidden="true"></i>Charity</a></li>
                            <li><a href="/lillah" class="link"><i class="fa fa-plus" aria-hidden="true"></i>Lillah</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        

    </header>
	
	<h1 class="center myName">John Grant Bunner</h1>
	<section class="sectionBio">
	<section class="bio">
	<br />
	<img class="bioPicture" width="640" height="480" alt="Biography Picture" src="assets/img/river-o.gif" />
	</section>
	<section>
	<br /><br /><br />
	<p class="large">The man who wrote Dragon Kindred lives in Central Florida. He has loved the books of JRR Tolkien since he was old enough to listen to the stories being read to him.</p>
	<br />
	<p class="large">He lives with his brother in a coquina block cabin on a bluff along the Saint Johns River. The place is antiquated but there are high pine ceilings and crank-out windows with good views down to the river.</p>
	<br />
	<p class="large">His cat is usually sprawled somewhere in his bedroom. She likes to lay up in the windowsill or stretch out on his unmade bed or hide inside the bathroom cabinet. The property has belonged to his family for five generations.</p>
	<br />
	<p class="large">He does free-lance coding and keeps a citrus grove. He has a pineapple patch and a small kitchen garden just outside the backdoor with a few vegetables and herbs.</p>
	<br />
	<p class="large">When he's not occupied by other things, he's doing what he loves to do, writing his books by building intricate plots, developing characters, and pursuing the themes of self-identity, friendship, and conflict between good and evil.</p>
	<br />
	</section>
	</section>
    <!--footer-->
    <section class="footer" id="footer">
            <p id="copyright">
                Copyright &copy; 2016 John Grant Bunner
            </p>
        </div>
    </section>

</div>
    <!--wrapper end-->

<script type="text/javascript">
    jQuery(function($) {
    $(document).ready( function() {
        $('.navbar-wrapper').stickUp();
        });
    });




</script>