<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<!-- Page Content -->
<div class="wrapper">
    <!--header-->
    <header id="header">

        <div class="menu">
            <nav class="navbar navbar-wrapper">
                <div class="container">
                    <div id="main-nav" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
							<li><a href="/home" class="link"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                            <li><a href="/biography" class="link"><i class="fa fa-home" aria-hidden="true"></i>Biography</a></li>
							<li><a href="/characters" class="link"><i class="fa fa-home" aria-hidden="true"></i>Characters</a></li>
                            <li><a href="/lillah" class="link"><i class="fa fa-plus" aria-hidden="true"></i>Lillah</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        

    </header>



    <!--footer-->
    <section class="footer" id="footer">
        <div class="container">
            <!-- Commented out, but links for social media below -->
            <!--         <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
        </ul> -->
            <p id="copyright">
                Copyright &copy; 2016 John Grant Bunner
            </p>
        </div>
    </section>

</div>
    <!--wrapper end-->

<script type="text/javascript">
    jQuery(function($) {
    $(document).ready( function() {
        $('.navbar-wrapper').stickUp();
        });
    });




</script>