<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<!-- Page Content -->
<div class="wrapper">
    <!--header-->
    <header id="header">

        <div class="menu">
            <nav class="navbar navbar-wrapper">
                <div class="container">
                    <div id="main-nav" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
							<li><a href="/home" class="link"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                            <li><a href="/biography" class="link"><i class="fa fa-home" aria-hidden="true"></i>Biography</a></li>
							<li><a href="/charity" class="link"><i class="fa fa-plus" aria-hidden="true"></i>Charity</a></li>
                            <li><a href="/lillah" class="link"><i class="fa fa-plus" aria-hidden="true"></i>Lillah</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div> 

    </header>

	<br />
	<h1 class="charName">Alice</h1>
	<br />
	<p class="center">“Look, like it or not, you went out of your way to save my life and now I owe you.”</p>
	<br /><br />
	<h1 class="charName">Calith</h1>
	<br />
	<p class="center">“I apologize, little brother, for any distress or inconvenience I may have caused you.”</p>
	<br /><br />
	<h1 class="charName">Cassandra</h1>
	<br />
	<p class="center">“My brave warrior, it is not your time to die."</p>
	<br /><br />
	<h1 class="charName">Alexander Darling</h1>
	<br />
	<p class="center">Alexander walked cautiously over to the white mass that was sending up small tendrils of smoke.</p>
	<br /><br />
	<h1 class="charName">Elamor</h1>
	<br />
	<p class="center">For some reason she gave him the impression of being mischievous.</p>
	<br /><br />
	<img class="picture" width="587" height="511" alt="Stephon Corval" src="assets/img/stephon.jpg" />
	<br />
	<p class="centerArtist">by <span class="artist">Diego Rodriguez</span></p>
	<br /><br />
	<h1 class="charName">Stephon Corval</h1>
	<br />
	<p class="center"></p>
	<br /><br />
	<h1 class="charName">Constance Crimson</h1>
	<br />
	<p class="center">“Constance, my dear sister, if I was to accidentally hurt you I would never be able to forgive myself; and father would probably kill me.”</p>
	<br /><br />
	<img class="picture" width="362" height="500" alt="Seth Crimson" src="assets/img/seth.jpg" />
	<br />
	<p class="centerArtist">by <span class="artist">Diego Rodriguez</span></p>
	<br /><br />
	<h1 class="charName">Seth Crimson</h1>
	<br />
	<p class="center"></p>
	<br /><br />
	<h1 class="charName">Jio</h1>
	<br />
	<p class="center"> As she played, the sensation of time passing seemed to stop, and everyone just sat or stood where they were until the song ceased.</p>
	<br /><br />
	<h1 class="charName">Masato</h1>
	<br />
	<p class="center">“No, I don’t think there is a polite way to turn him down.”</p>
	<br /><br />
	<h1 class="charName">Ringdove Maslock</h1>
	<br />
	<p class="center">“Pardon me for asking but is Ringdove a common name for a dragon?”</p>
	<br /><br />
	<h1 class="charName">Negotiator</h1>
	<br />
	<p class="center">“Most people just call me Negotiator because I make most of the big deals for the guild.”</p>
	<br /><br />
	<h1 class="charName">the Old Man</h1>
	<br />
	<p class="center">Then the Old Man smiled, showing his perfect white teeth</p>
	<br /><br />
	<h1 class="charName">Alta-Mes</h1>
	<br />
	<p class="center"></p>
	<br /><br />
	<h1 class="charName">Arthuria Saberelle</h1>
	<br />
	<p class="center"></p>
	<br /><br />
	<img class="picture" width="600" height="393" alt="Sari" src="assets/img/Psdelux.jpg" />
	<br />
	<p class="centerArtist">by <span class="artist">Psdelux</span> and used with his gracious promission</p>
	<br /><br />
	<h1 class="charName">Sari</h1>
	<br />
	<p class="center">In that instant, he saw in her a reflection of himself.</p>
	<br /><br />
	
    <!--footer-->
    <section class="footer" id="footer">
        <div class="container">
            <p id="copyright">
                Copyright &copy; 2016 John Grant Bunner
            </p>
        </div>
    </section>

</div>
    <!--wrapper end-->

<script type="text/javascript">
    jQuery(function($) {
    $(document).ready( function() {
        $('.navbar-wrapper').stickUp();
        });
    });




</script>