<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<!-- Page Content -->
<div class="wrapper">
    <!--header-->
    <header id="header">

        <div class="menu">
            <nav class="navbar navbar-wrapper">
                <div class="container">
                    <div id="main-nav" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/biography" class="link"><i class="fa fa-home" aria-hidden="true"></i>Biography</a></li>
							<li><a href="/characters" class="link"><i class="fa fa-home" aria-hidden="true"></i>Characters</a></li>
							<li><a href="/charity" class="link"><i class="fa fa-plus" aria-hidden="true"></i>Charity</a></li>
                            <li><a href="/lillah" class="link"><i class="fa fa-plus" aria-hidden="true"></i>Lillah</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        

    </header>
	
	<br />
	<img class="picture" width="1250" height="782" alt="Dragon Kindred Cover" src="assets/img/cover.jpg" />
	<br />
	<p class="centerArtist">above by <span class="artist">Michael Vincent Manalo</span></p>
	<br /><br />
	<p class="center">If you are looking for another cookie-cutter fantasy book, this is not it.</p>
	<br />
	<p class="center">Dragon Kindred is the odyssey of a Minor Noble from the Athos Empire.</p>
	<p class="center">He is a Legionnaire who encounters many difficult challenges in his life and
	is compelled to confront the evil around him.</p>
	<br />
	<p class="center">The story begins slowly as you are drawn into his world.</p> 
	<p class="center">There will be sword-fighting, miracles, magic, sacrifice, escapes, monsters, slavery, prejudice, rescues, treason, dragons, and a whole lot more.</p> 
	<p class="center">Its a fun read for the thinking person, who enjoys stories of brave knights and heroic courage.</p>
	<br />
	<p class="center">Dragon Kindred is a complex story with many subplots.</p> 
	<p class="center">You will most likely want to read it twice to fully discover the richness of the story and its characters.</p> 
	<p class="center">Its also a great book to read aloud with younger children chapter by chapter.</p>
	<br />
	<p class="center">Looking for a dragon story with substance?</p> 
	<p class="center">Happy when reading a big book that you can't put down?</p> 
	<p class="center">Do you believe in the battle of virtue against all that is wicked?</p>
	<br />
	<p class="center">If yes, then Dragon Kindred is for you.</p>
	<br />	
	<p class="center">Enjoy.</p>
	<br />
	<p class="center"><a href="https://www.amazon.com/Dragon-Kindred-John-Grant-Bunner-ebook/dp/B01HSHNSJW/" target="_blank" class="link"><i class="fa fa-home" aria-hidden="true"></i>Purchase</a></p>
	<br /><br /><br />
	<p class="centerArtist">Comments to the author may be sent to JohnGrantBunner@gmail.com</p>
	
	
    <!--footer-->
    <section class="footer" id="footer">
        <div class="container">
            <p id="copyright">
                Copyright &copy; 2016 John Grant Bunner
            </p>
        </div>
    </section>

</div>
    <!--wrapper end-->

<script type="text/javascript">
    jQuery(function($) {
    $(document).ready( function() {
        $('.navbar-wrapper').stickUp();
        });
    });




</script>