<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<!-- Page Content -->
<div class="wrapper">
    <!--header-->
    <header id="header">

        <div class="menu">
            <nav class="navbar navbar-wrapper">
                <div class="container">
                    <div id="main-nav" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
							<li><a href="/home" class="link"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                            <li><a href="/biography" class="link"><i class="fa fa-home" aria-hidden="true"></i>Biography</a></li>
							<li><a href="/characters" class="link"><i class="fa fa-home" aria-hidden="true"></i>Characters</a></li>
							<li><a href="/charity" class="link"><i class="fa fa-plus" aria-hidden="true"></i>Charity</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        

    </header>
	
	<br />
	<h1 class="center myName">Lillah Fey</h1>
	<br /><br />
	<section class="sectionBio">
	<section class="Cat Text bio">
	<br /><br /><br />
	<p class="large">Lillah's mother (Belle) showed up on the outside sill of my bedroom window during a heavy storm. She was only several months old. She didn't cry, just stared in with big frightened eyes. She was feral.</p>
	<br />
	<p class="large">She hung close to my window, but I couldn't get her to come to me. I began leaving food for her on the sill. As tiny as she was, she was pregnant.</p>
	<br />
	<p class="large">I came up from the river and the little cat was on my back porch. She was in labor. Now she was happy to be picked up. I laid towels on my bed, placing her on them as she delivered her first kitten. Still a kitten herself, she began delivering her litter and trying to mother them.</p>
	<br />
	<p class="large">I thought she would only have one or two, but they kept coming. Her fourth kitten presented breach. She was having a difficult birth. I was finally able to pull the back legs out and a grey kitten was born.</p>
	<br />
	</section>
	<section class="Cat">
	<img class="pictureCat" width="500" height="500" alt="Lillah" src="assets/img/IMG_11.jpg" />
	<br />
	</section>
	
	<section class="Cat">
	<img class="pictureCat" width="500" height="500" alt="Lillah" src="assets/img/IMG_1.jpg" />
	<br /><br />
	</section>
	<section class="Cat Text">
	<br /><br /><br />
	<p class="large">Belle had a litter of six kittens and she was an excellent mother. I got a refrigerator box so when their eyes opened, they had plenty of room to wander. Only Lillah, who was born breach, was sitting in the corner while her siblings were romping. Lillah was fey. She talked with the fairies.</p>
	<br />
	<p class="large">Belle began to worry about Lillah's ability to take care of herself. All of her other kittens were learning to hunt outside. In a few weeks, they would go to new homes as barn cats able to keep the vermin out. Lillah took no notice.</p>
	<br />
	<p class="large">As concerned Momcat, Belle brought a lizard to her kitten Lillah, determined to teach her how to feed herself. But Lillah would only look down and turn her head from side to side. Belle finally had to let the lizard go, Lillah preferred to dance with the fairies.</p>
	<br />
	<p class="large">I kept Lillah for myself. I love my whimsical girl. She's so special to me and the feeling is mutual.</p>
	<br /><br />
	</section>
	</section>
	
	<p class="center">Lillah's mother Belle (below)</p>
	<br />
	<img class="pictureCat" width="500" height="500" alt="Lillah" src="assets/img/Bell-O.gif" />
	<br />
	
	
    <!--footer-->
    <section class="footer" id="footer">
        <div class="container">
            <p id="copyright">
                Copyright &copy; 2016 John Grant Bunner
            </p>
        </div>
    </section>

</div>
    <!--wrapper end-->

<script type="text/javascript">
    jQuery(function($) {
    $(document).ready( function() {
        $('.navbar-wrapper').stickUp();
        });
    });




</script>