<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<!-- Page Content -->
<div class="wrapper">
    <!--header-->
    <header id="header">

        <div class="menu">
            <nav class="navbar navbar-wrapper">
                <div class="container">
                    <div id="main-nav" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
							<li><a href="/home" class="link"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                            <li><a href="/biography" class="link"><i class="fa fa-home" aria-hidden="true"></i>Biography</a></li>
							<li><a href="/characters" class="link"><i class="fa fa-home" aria-hidden="true"></i>Characters</a></li>
							<li><a href="/charity" class="link"><i class="fa fa-plus" aria-hidden="true"></i>Charity</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        

    </header>
	
	<br />
	<img class="pictureCat" width="500" height="500" alt="Lillah" src="assets/img/Lillah.jpg" />
	<br />
	<img class="pictureCat" width="500" height="500" alt="Lillah" src="assets/img/Lillah-1.jpg" />
	<br />
	<img class="pictureCat" width="500" height="500" alt="Lillah" src="assets/img/Lillah-2.jpg" />
	<br />
	<img class="pictureCat" width="500" height="500" alt="Lillah" src="assets/img/Lillah-3.jpg" />
	<br />
	<img class="pictureCat" width="500" height="500" alt="Lillah" src="assets/img/Lillah-4.jpg" />
	<br />
	<img class="pictureCat" width="500" height="500" alt="Lillah" src="assets/img/Lillah-5.png" />
	<br />
    <!--footer-->
    <section class="footer" id="footer">
        <div class="container">
            <p id="copyright">
                Copyright &copy; 2016 John Grant Bunner
            </p>
        </div>
    </section>

</div>
    <!--wrapper end-->

<script type="text/javascript">
    jQuery(function($) {
    $(document).ready( function() {
        $('.navbar-wrapper').stickUp();
        });
    });




</script>