body {background-color: #000000;
	color: white;
	margin: 0;
	padding: 0;
	font-family: "Arial Black", Gadget, sans-serif;
}

.menu{background-color: #330033;}

.link{color: gold;}

.picture{
	display: block;
	margin-right: auto;
	margin-left: auto;
	}

.Cat{
	width: 45%;
	float: left;
}
.Text{
	height: 500px;
}

.pictureSelf{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 2px;
	background-color: #669966;
	}

.pictureCat{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 2px;
	background-color: #663333;
	}
	
.bio{
	margin-left: 5%;
	}
.bioPicture{
	float: left;
	margin-right: 10px;
	}

.large{
	font-size: large;
}

.myName{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: xx-large;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom:10px;
}

.sectionBio{overflow:auto;
	clear: left;
}
	
.center{
	text-align: center;
}

.centerArtist{
	font-size: small;
	text-align: center;
}

.artist{
	font-style: italic;
}
	
.charName{
	font-size: xx-large;
	font-weight: bold;
	color: #0066cc;
	text-align: center;
}

#copyright{
	margin-top: 5%;
	text-align: center;
	}
